/* 使えそうな色 */
/* https://colorhunt.co/palette/273174 */
/* #325288 */
/* #f4eee8 */
/* #f5cebe */
/* #114e60 */
/* #8ab6d6 */
/* #2978b5 */
/* #0061a8 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 340px;
  padding: 20px;
  background-color: #8ab6d6;
  border-radius: 5px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #2978b5;
  border-radius: 5px;
}
